.DS_Store
/bin
/pkg

/**/ca
/**/tls
/**/crypto
/web/certs/**
/cli/peers/**
/**/admincerts
/**/cacerts
/**/keystore
/**/signcerts
/**/tlscerts
/**/*.pem
/web/channel.tx
/node_modules
/.idea
chaincode/src/bcins/.idea

/static/js/*.bundle.js
/static/js/block-explorer.bundle.js
/static/js/common.bundle.js


police-peer/

repairshop-peer/

shop-peer/

chaincode/src/bcins/bcins

insurance-peer/
